*.iml
*.ipr
*.iws
*.pyc
.idea
.svn
.classpath
.project
.settings
/target
/conf
/slider-core/target
/slider-core/src/test/resources/slider-test.xml
/slider-agent/target
/slider-funtest/target
/slider-assembly/target
release.properties
*.backup
*.versionsBackup
hoya-test.xml
