*.iml
*.ipr
*.iws
*.pyc
.idea
.svn
.classpath
.project
.settings
/target
/conf
/hoya-core/target
/hoya-core/conf
/hoya-core/src/test/resources/hoya-test.xml
hoya/hoya-core/src/test/resources/hoya-test.xml
/hoya-agent/target
/hoya-funtest/target
/hoya-assembly/target
release.properties
*.backup
*.versionsBackup
